body {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

p {
  color: #FFF;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.about {
  background-image: linear-gradient(#2831B3,#1D20A5,#151A75,#0A0D5E,#0D0D4D);
  text-align: center;
  color: #FFF;
  font-family: 'Fredoka One', serif;
  width: 200px;
  font-size: 25px;
}

.gitlogo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 200px;
}

.links {
  display: flex;
  justify-content: center;
}

.linked {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 200px;
}
