body {
  background-image: url(astronomy-constellation-dark-998641.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; 
  user-select: none;
  -moz-user-select: none;
}

h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

canvas {
  cursor: crosshair;
  background: #000;
  display: flex;
  justify-content: center;
}

p {
  color: #FFF;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.about {
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px #000;
  font-family: 'Fredoka One', serif;
  font-size: 25px;
  position: absolute;
  top: 162px;
  z-index: 1;
}

#mute, #unmute {
user-select: none;
-moz-user-select: none;
}

#mute {
  background-color: #f44336;
  border: none;
  padding: 6px;
  color: #FFF;
  cursor: pointer;
}

#mute:hover {
  background-color: #f66055;
}

#unmute {
  background-color: #4CAF50;
  border: none;
  padding: 6px;
  color: #FFF;
  cursor: pointer;
}

#unmute:hover {
  background-color: #5fb962;
}

.bottom {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  width: 93%;
}

.links {
  display: flex;
}

@media screen and (min-width: 1200px)
  and (max-width: 1600px)
  {
  .about {
    font-size: 22px;
    left: 3em;
  }
}

@media screen and (min-width: 1500px) {
  .about {
    left: 9em;
  }
}
