body {
  display: flex;
  background-image: url(background-firework.jpg);
}

h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

canvas {
  cursor: crosshair;
}

p {
  color: #FFF;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.about {
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px #000;
  font-family: 'Fredoka One', serif;
  width: 200px;
  font-size: 25px;
}

.gitlogo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 200px;
}

.links {
  display: flex;
  justify-content: center;
}

.linked {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 200px;
}
